<div class="navbar navbar-expand-sm navbar-light navbar-cocktail">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home page", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/marinajeanbart", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "About Marinette", "https://kitt.lewagon.com/alumni/marinajeanbart", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>


<div class="card-product">
  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <div class="card-product-infos">
      <h1><%= @cocktail.name %></h1>
      <% @cocktail.doses.each do |dose| %>
        <p><em>How much? </em><%= dose.description %></p>
        <p><em>What's that smell? </em><%= dose.ingredient.name %></p>
        <p><%= link_to "Delete dose", dose_path(dose), method: :delete, confirm: { inclusion: "Are you sure?"}, class: "btn btn-primary" %></p>
      <% end %>
      <%= link_to "Add a dose", new_cocktail_dose_path(:cocktail_id => @cocktail.id), class: "btn btn-primary" %>

  </div>
</div>


